@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
body
{
    font-family: 'Roboto', sans-serif;;
}
.footer
{
    display:flex;justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.bal
{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.balamount
{
    display: flex;
    align-items: center;
}
.balimg
{
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    margin:0 2px 0 2px;
}
.centreimg, .centreimg img
{
    height: 60px;
    width: 60px;
    position: relative;
    left: 35%;
    border-radius: 10px;
}
.arrow i
{
    font-size: 20px;
    margin-right: 10px;
    color: #fbb008;
}
.texttop
{
    display: flex;
    align-items: center;
}
 .dot
{
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #000838;
    border-radius: 50%;
    margin-left: 5px;
    
}
.activedot
{
    /* background-color: #fbbd08; */
    background-color: #fbb008;
}
.nav-topb{
    height: 55px;
    display: flex;
    align-items: center;
    padding: 10px; 
    border-bottom:2px solid #b47c03;;
    background-color: #b47c03;
    
}

.nav-topb .texttop
{
 margin-left: 50px;

 font-size: 20px;
 font-weight: 100;
 color:#eee;
}
.threedots
{
 /* transform: translate(-50%,-50%); */
 padding: 5px;
 margin-left:40%;
}
.fourpan,.twopan
{
    display: flex;
    align-items:center; 
    margin-bottom: 10px;
	/* justify-content:center; */

}
.pan1,.pan2,.pan3,.pan4
{
    display:flex;
	flex-direction:column;
	align-items:center; 
	justify-content:center;
	flex-grow:1;
	min-width:50px;	flex-grow:1;
}
.textd
{
    padding: 10px;
    font-weight: 300;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
.textd p i
{
    font-size: 20px;
    margin: 5px 5px 0 0;
}
.box
{
    height: 50px;
    width: 50px;
    /* background-color: #000838; */
    background-color: #fff;
    border-radius: 10px;
    margin-top: 10px;
}
.bimg,.zimg
{
    height: 40px;
    width: 40px;
    margin: 5px 5px 0 5px ;
    border-radius: 10px;
}

.boxa
{
    height: 50px;
    width: 170px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 10px;
}
.account,.spend,.earn
{
    height: calc(85vh/3);
    /* border-bottom:2px solid #333; */
}
.account
{
    background-color: #b47c03;
}